<.header>
  Listing Models statistics
</.header>

<.table id="models_statistics" rows={@data}>
  <:col :let={data} label="Author Name"><%= data.author_name %></:col>
  <:col :let={data} label="Book Count"><%= data.book_count %></:col>
  <:col :let={data} label="Avg Score"><%= data.avg_score %></:col>
  <:col :let={data} label="Total Sales"><%= data.total_sales %></:col>
</.table>
