<.header>
  Top 10 Rated Books
</.header>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- @top_10_rated_books do %>
      <tr>
        <td><%= item.book_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
