<.header>
  Sale <%= @sale.id %>
  <:subtitle>This is a sale record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/sales/#{@sale}/edit"}>
      <.button>Edit sale</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Date of sale"><%= @sale.date_of_sale %></:item>
  <:item title="Quantity sold"><%= @sale.quantity_sold %></:item>
</.list>

<.back navigate={~p"/sales"}>Back to sales</.back>
